html,
body {
    color: #f5f5dc;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    font-size: 62.5%;
    background-color: gray;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

* {
    color: inherit;
    font-family: Minecraftia;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}